:root {
    --primary: #5d4f72;
    --white: #fff;
    --dark: #21252f;
    --body: #dfceff;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Andada Pro", serif;
    text-align: justify;
}

.container {
    position: relative;
    z-index: 1;
}

h2,
h3,
h4,
h5,
p .display-4 {
    color: var(--dark);
    font-weight: 700;
}

a {
    color: var(--dark);
    text-decoration: none;
}

img {
    width: 100%;
}

#registeration .formcust {
    outline: none;
}

#hero {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

#hero .heading-box {
    padding-top: 80px;
}

#hero .fixedbtn {
    position: fixed;
    transform: rotate(-90deg);
    top: 150px;
    right: 0;
    padding: 10px 12px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ce1092;
    font-weight: 700;
    border: 1px solid;
    z-index: 109;
}

#hero .heading-box h1 {
    color: #ce1092;
    font-weight: 700;
    padding-bottom: 50px;
}

.heading-box .last-cont .custspan {
    font-weight: 700;
}

#hero .heading-box p {
    color: var(--dark);
    line-height: 25px;
    font-weight: 700;
    text-align: justify;
}

#hero .heading-box h6 {
    color: var(--dark);
    font-weight: 500;
    padding-bottom: 20px;
    text-align: justify;
    line-height: 30px;
}

#reg {
    max-width: 1200px;
    margin: 20px auto;
    position: relative;
    box-shadow: var(--box-shadow);
}

.regsec {
    background: url(/images/bg.png) no-repeat center;
    background-size: cover;
}

.main-cont {
    background-color: rgba(232, 198, 255, 0.2);
    border: 1px solid #ddd7e6;
}

.contbox .team-container {
    padding: 0 35px;
}

.contbox {
    padding: 20px 0;
    font-family: "Poppins", sans-serif;

    /* box-shadow: var(--box-shadow); */
}

.contbox h4 {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--primary);
}

.contbox .form-field {
    position: relative;
    margin: 32px 0;
}

.contbox .team-names {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: rgba(232, 198, 255, 0.5);
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    background-color: rgba(red, green, blue, alpha);
    border-radius: 5px;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
}

.contbox .team-names:focus {
    outline: none;
    border-width: 0px 0px 2px 0;
    border-color: #4a0b6b;
    font-size: 18px;
    box-shadow: none;
}

.contbox .team-names:focus + .label,
.contbox .team-names.not-empty + .label {
    transform: translateY(-24px) translateX(-10px);
    color: #4a0b6b;
    font-size: 18px;
    font-weight: 500;
}

.contbox .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #082c66;
    cursor: text;
    transition: transform 0.2s ease-in-out;
}

.contbox .labelsmall {
    position: absolute;
    left: 30px;
    bottom: 52px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: var(--primary);
    cursor: text;
    transition: transform 0.2s ease-in-out;
}

.contbox .btncust {
    padding: 10px 26px;
    border-radius: 5px;
    border: 1px solid;
    color: #ddd7e6;
    transition: all 0.8s ease;
}

.contbox .btncust:hover {
    background: url(/images/bg.png) no-repeat center;
    background-size: cover;
    color: var(--white);
    font-weight: 500;
}

.navbar {
    box-shadow: var(--box-shadow);
}

/* .navbar .btn {
    font-size: 15px;
    border: 1px solid;
    color: #4a0b6b;
}
.navbar .btn:hover {
    background: url(/images/bg.png) no-repeat center;
    background-size: cover;
    color: var(--white);
} */

.navbar .nav-link {
    font-family: Roboto, "sans-serif";
    font-size: 14px;
    font-weight: 700;
}

#registeration {
    font-family: "Poppins", sans-serif;
}

.image-container {
    background: url(/images/image_processing20210912-17655-1psy0hb.gif) center
        no-repeat;
    background-size: contain;
    position: relative;
    height: 80vh;
}
.logo {
    position: absolute;
    z-index: 99;
    top: 20px;
    left: 20px;
}

.form-container {
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

.formt {
    position: relative;
}

.formt input {
    width: 100%;
    height: 100%;
    color: red;
    padding-top: 20px;
    border: none;
}

.fromt label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* hero container */
.form-box {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: start;
    justify-content: start;
    padding-top: 50px;
    padding-right: 20px;
    font-weight: bold;
    color: var(--primary);
    border-radius: 10px;
}

.form-box h1 {
    color: #ce1092;
    font-weight: 700;
}

.form-box .last-cont h6 {
    text-align: justify;
    line-height: 38px;
    margin-top: 20px;
}

.form-box .last-cont p {
    text-align: justify;
    font-weight: 700;
    color: var(--dark);
    line-height: 40px;
    margin-top: 30px;
}

.form-box h6 {
    line-height: 25px;
    color: var(--dark);
    text-align: justify;
}

.form-box p {
    line-height: 25px;
    color: var(--dark);
}

/* footer */

.footer-top {
    padding-top: 70px;
    padding-bottom: 10px;
    background-color: var(--dark);
}

.footer-top .logo {
    width: 120px;
}

.footer-top a {
    color: var(--body);
}

.footer-top a:hover {
    color: var(--white);
}

.footer-top i {
    font-size: 20px;
    margin: 10px 0;
    padding: 8px 4px;
    color: var(--body);
    transition: all 0.45s ease;
}

.footer-top .footlogo:hover {
    font-size: 24px;
    color: var(--primary);
}

.footer-bottom {
    background-color: var(--dark);
    color: var(--body);
}

.footer-top li {
    font-size: 14px;
    color: var(--body);
    text-align: justify;
}

.footer-top .logo {
    margin-left: -10px;
}

/* Rest */

@media (max-width: 991px) {
    #hero .fixedbtn {
        position: fixed;
        transform: rotate(-90deg);
        top: 150px;
        right: 0;
        padding: 8px 10px;
        background-color: rgba(255, 255, 255, 0.2);
        color: #ce1092;
        font-weight: 500;
        border: 1px solid;
    }
}

@media (max-device-width: 798px) {
    .form-box {
        min-height: 50%;
    }

    .image-container {
        height: 50vh;
        padding-bottom: 0;
    }

    .heading-box {
        padding-top: 10px;
    }
    #hero .fixedbtn {
        display: none;
    }
}
@media (max-device-width: 559px) {
    #hero .fixedbtn {
        display: none;
    }
}

@media (max-device-width: 480px) {
    #hero .fixedbtn {
        display: none;
    }

    .image-container {
        padding-top: 20px;
        height: 60vh;
        padding-bottom: 0;
    }

    .heading-box {
        padding-top: -200px;
    }

    .form-box {
        padding: 0px 20px;
        min-height: 50%;
    }

    .footer-bottom {
        font-size: 11px;
    }
}
